body {
	background-color:#000000;
	color:#FFFFFF;
	font-family:"Lucida Console", Lucida, monospace;
}

table {
	border-style:solid;
	border-width:3px;
	border-color:#FFFFFF;
	border-radius:6px;	
}

td {
	width:100px;
	height:16px;
	font-size:16px;
}

div {
	border-style:solid;
	border-width:3px;
	border-color:#FFFFFF;
	padding:3px;
	margin:3px;
	border-radius:6px;
}

div.button {
	float:left;
	border-style:outset;
	border-width:2px;
	border-color:#FFFFFF;
	border-radius:2px;
	width:200px;
	height:16px;
	font-size:16px;
	cursor:pointer;
}

div.button:hover {
	background-color:#222222;
}

div.button:active {
	border-style:inset;
	background-color:#222222;
}

div.stock {
	position:relative;
	margin:5px 3px;
	border-style:outset;
	border-width:2px;
	border-color:#FFFFFF;
	border-radius:2px;
	width:95%;
	height:50px;
	cursor:pointer;
}

div.stock:hover {
	background-color:#222222;
}

div.stock:active {
	border-style:inset;
	background-color:#222222;
}

div.stock p {
	font-size:16px;
	margin:3px;
}

div.stock>p:first-child {
	font-size:20px;
}

div.stock c {
	position:absolute;
	right:10px;
	top:25px;
	font-size:20px;
	color:#DDDDDD;
}

div.stock c.up {
	color:#00FF00;
}

div.stock c.down {
	color:#FF0000;
}

div.stock v {
	position:absolute;
	right:10px;
	top:5px;
	font-size:20px;
	color:#FFFFFF;
}

div.stockholder {
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	width:300px;
	overflow-y:scroll;
}

div.graphholder {
	position:absolute;
	top:0px;
	right:0px;
	bottom:39.5%;
	left:315px;
}

div.graphholder canvas {
	width:100%;
	height:100%;
	margin:0px;
}

div.infoholderleft {
	position:absolute;
	top:60.5%;
	bottom:0px;
	left:315px;
	width:300px;
	text-align:center;
	overflow-y:scroll;
}

div.infoholderright {
	position:absolute;
	top:60.5%;
	right:0px;
	bottom:0px;
	left:630px;
	text-align:center;
}

div.infoholderright p {
	font-size:16px;
	margin:3px;
}

div.infoholderright>p:first-child {
	font-size:20px;
}

input{
	width:79px;
	height:26px;
	font-size:16px;
	border-style:inset;
	border-color:#FFFFFF;
	background-color:#FFFFFF;
	color:#000000;
	border-width:2px;
	border-radius:2px;
	padding:3px;
	margin:3px;
	float:left;
}

hr {
	width:95%;
	border:0px;
	color:#FFFFFF;
	background-color:#FFFFFF;
	height:2px;
}