body {
	background-color:#000000;
	color:#FFFFFF;
	font-family:"Lucida Console", Lucida, monospace;
}

div {
	border-style:solid;
	border-width:3px;
	border-color:#FFFFFF;
	padding:3px;
	margin:3px;
	border-radius:6px;
}

div.stock {
	position:relative;
	margin:5px 3px;
	border-style:outset;
	border-width:2px;
	border-color:#FFFFFF;
	border-radius:2px;
	width:95%;
	height:50px;
	cursor:pointer;
}

div.stock:hover {
	background-color:#222222;
}

div.stock:active{
	border-style:inset;
	background-color:#222222;
}

div.stock p {
	font-size:16px;
	margin:3px;
}

div.stock>p:first-child {
	font-size:20px;
}

div.stock c {
	position:absolute;
	right:10px;
	top:18px;
	font-size:20px;
	color:#DDDDDD;
}

div.stock c.up {
	color:#00FF00;
}

div.stock c.down {
	color:#FF0000;
}

div.stockholder {
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	width:300px;
}

div.graphholder {
	position:absolute;
	top:0px;
	right:0px;
	bottom:39.5%;
	left:315px;
}

div.infoholder {
	position:absolute;
	top:60.5%;
	right:0px;
	bottom:0px;
	left:315px;
}

hr {
	width:95%;
	border:0px;
	color:#FFFFFF;
	background-color:#FFFFFF;
	height:2px;
}